#main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 930px;
}

#timer {
  text-align: center;
  border: 1px solid red ;
  padding: 30px;
}

table {
  margin: auto auto;
}

input {
  display: inline-block;
  text-align: center;
}

#message {
  width: 100%;
  box-sizing: border-box;
}

#start {
  width: 200px;
  height: 30px;
}