.values {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.stack,
.queue {
  display: inline-block;
  width: 300px;
}
input {
  text-align: center;
}
li {
  list-style-type: none;
}
ul {
  padding: 0;
}

hr {
  margin: 5px;
}